* {
  // font-family: $base_font;
}

.ant-layout-sider-trigger {
  background: #fff!important;
  * {
    color: #000!important;
  }
}

.ant-btn-icon {
  display: flex;
  align-items: center;
}

.ant-form-item {
  margin-bottom: 0;
  label {
    width: 100%;

    &::after {
      display: none;
    }
  }
}